circle:hover {
    fill: #2ca25f;
}

.partition {
    stroke: steelblue;
    stroke-width: 1px;
    /*stroke-linecap: round;*/
}

svg {
    border: 1px solid grey;
    width: 600px;
    height: 400px;
}

.idx-ln{
    stroke: black;
    stroke-width: 5px;
}

.idx-ln:hover{
    stroke: #2ca25f;
    stroke-width: 6px;
}
